<a href="https://colab.research.google.com/github/CongDanh15/BT-AI/blob/main/Tuan_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open ('text.txt',mode='w') as accounts :
  accounts.write('1 Nguyen Thanh Cong Danh 8.0\n') # \n co nghia la xuong dong
  accounts.write('2 Nguyen Dinh Khoi 9.0\n')

In [ ]:
with open ('text1.txt',mode='w') as accounts :
  print('7:00,Nguyen Thanh Cong Danh dung gio',file=accounts)
  print('7:30,Nguyen Dinh Khoi di tre',file=accounts)

In [ ]:
with open ('text.txt',mode='r') as accounts :
  print(f'{'name':<20}{'score':>20}')
  for record in accounts:
    name,score =record.split()
    print(f'{name:<20}{score:>20}')

SyntaxError: ignored

In [ ]:
import pandas as pd 
url = 'Book1.csv'
dataframe = pd.read_csv(url) 
dataframe.head(10)
dataframe['Name']

   stt      mssv   ho va ten  diem
0    1  20104054  Tran Van A  10.0
1    2  20104055  Tran Van B   9.9
2    3  20104056  Tran Van C   9.8
3    4  20104057  Tran Van D   9.7
4    5  20104058  Tran Van E   9.6

In [ ]:
import pandas as pd 
#Create dataframe 
dataframe=pd.DataFrame()
#Add colums
dataframe['Name']=['Nguyen Van A','Le Thi B']
dataframe['student ID']=[20104019,20104033]
dataframe['score']=[8.5,9.5]
dataframe

           Name  student ID  score
0  Nguyen Van A    20104019    8.5
1      Le Thi B    20104033    9.5

In [ ]:
import pandas as pd
url='pybook2.csv'
df = pd.read_csv(url)
df[(df['Faculty']=='CKM') & (df['DIEM']>=7) & (df['Year']>20)]

   STT      MSSV              HO TEN  DIEM  Year Faculty
3    4  20104013        Le Thanh Hon     8    22     CKM
9   10  20104019  Do Hoang Dieu Linh    10    23     CKM

In [ ]:
import pandas as pd
url='pybook2.csv'
df = pd.read_csv(url)
# Select unique values 
dataframe ['Faculty'].unique()
array (['CKM','CNM'],dtype=object)

In [ ]:
import pandas as pd
url='pybook2.csv'
df = pd.read_csv(url)
df.drop('MSSV', axis= 1).head(7)

   STT            HO TEN  DIEM  Year Faculty
0    1  Nguyen Minh Sang    10    20     CKM
1    2  Nguyen Cong Danh    10    19     CKD
2    3      Le Quang Duc     9    18     DDT
3    4      Le Thanh Hon     8    22     CKM
4    5    Tran Minh Khoa     5    20     CLC
5    6      Le Hoang Kha     7    19     CKM
6    7   Nguyen Thi Dung     6    24     DDT

In [ ]:
import pandas as pd
url='pybook2.csv'
df = pd.read_csv(url)
df.groupby('Year').mean()
df.groupby('Year').count()

      STT  MSSV  HO TEN  DIEM  Faculty
Year
18      1     1       1     1        1
19      3     3       3     3        3
20      3     3       3     3        3
22      1     1       1     1        1
23      1     1       1     1        1
24      1     1       1     1        1

In [ ]:
import pandas as pd
url='pybook2.csv'
df = pd.read_csv(url)
df.groupby(['Year','Faculty']).count()

              STT  MSSV  HO TEN  DIEM
Year Faculty
18   DDT        1     1       1     1
19   CKD        1     1       1     1
     CKM        1     1       1     1
     HH         1     1       1     1
20   CKM        1     1       1     1
     CLC        1     1       1     1
     CNM        1     1       1     1
22   CKM        1     1       1     1
23   CKM        1     1       1     1
24   DDT        1     1       1     1

In [ ]:
import pandas as pd 
url ='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
#print('All the countries have medals',data['NOC'].unique())
data[(data['NOC']=='USA') & (data['Event gender']=='M') & (data['Medal']=='Gold')]

In [ ]:
import pandas as pd 
url ='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data[(data['NOC'].unique())].count()

KeyError: ignored